@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Nova+Square&display=swap');

:root {
    background-color: rgb(34, 87, 126);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Chakra Petch', cursive;
}

#canvas {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 6rem;
    color: #F7F5F2;
    margin-bottom: 5rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: linear-gradient(90deg, rgb(250, 255, 175) 0%, rgb(244, 249, 175) 100%);
    border-radius: 0.5rem;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(250, 255, 175, 0.6);
    transition: transform 150ms;
    transform: scale(1.04);
}

.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-button {
    background: linear-gradient(90deg, rgb(149, 209, 204) 0%, rgb(152, 205, 200) 100%);
}

#highscore-button:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(149, 209, 204, 0.5);
}

.levelButton {
    margin: 2rem;
    font-size: 3rem;
    margin-bottom: 0;
}

.levelButton:hover {
    transition: transform 150ms;
    transform: scale(1.2);
}

.fa-star,
.fa-play {
    font-size: 2.5rem;
    margin-left: 1rem;
}


/* End Page CSS Below */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    width: 20rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(250, 255, 175, 0.5);
    width: 100%;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

#finalScore {
    text-align: center;
    font-size: 9rem;
    margin-bottom: 1rem;
}

#congrats {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 4.5rem;
}

#end-text {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

#saveScoreButton {
    border: none;
    margin-bottom: 5rem;
}

.fa-arrow-rotate-left,
.fa-floppy-disk,
.fa-house {
    font-size: 2rem;
    margin-left: 1rem;
}

canvas {
    cursor: crosshair;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* End Page CSS Mobile */
@media screen and (max-width: 768px) {
    .button {
        font-size: 2rem;
        padding: 1rem 0;
        width: 20rem;
    }

    input {
        width: 20rem;
        height: 4rem;
        margin-bottom: 0.5rem;
        padding: 1.5rem;
        font-size: 1.8rem;
    }

    #congrats {
        font-size: 3.5rem;
    }

    #finalScore {
        font-size: 6rem;
    }

    #end-text {
        margin-bottom: 2rem;
        font-size: 2rem;

    }
}